:root {
    // color variables 
    --color: #75d473; 
    --bg-color: #262626;
    --bg-light: rgb(255, 254, 249);
    //font
}
// 
* {
    color: #333333;
}
body {
    background-color: rgb(255, 254, 249);
}
.hide {
    display: none;
}







