
.is_container {
    position: relative;
}

.is_message {
    padding: 0px 15px;
    box-sizing: border-box;
    position: absolute;
    transform: translateX(100%);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
}
.is_valid_img {
    height: 50%;
}
.is_focused:focus {
    border: 1px solid #000000c9;
}
.is_valid {
    border-color: #1cce1cbf;
}
.is_invalid:focus {
    border-color: #fb1d1d;
    color: #fb1d1d;
}
.is_blocked {
    cursor:not-allowed;
}
.is_unblocked {
    cursor: pointer;
}

